<div class="mat-typography container" style="padding: 20px">
  <h1>Bem vindo!</h1>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce accumsan enim consequat ipsum imperdiet finibus. Vivamus lectus elit, condimentum a neque et, laoreet semper eros. Praesent euismod, diam a pellentesque bibendum, libero neque imperdiet dolor, vel efficitur mauris leo vel orci. Aliquam quis arcu erat. Curabitur laoreet fermentum ultricies. Curabitur rutrum justo in ante rhoncus, quis fermentum neque lobortis. Ut feugiat eros sed pretium commodo. Fusce euismod vehicula nisl, in fermentum enim blandit sit amet. Nam commodo placerat erat, sed ornare elit tristique et. Donec imperdiet sed lacus in aliquam. Nunc tincidunt ligula pharetra vehicula interdum. Donec quis nulla quis.
  </p>
</div>
