<ng-container *ngIf="!edit; else edition">
  <h1 class="mat-h1">Nova sala de teatro</h1>
</ng-container>
<ng-template #edition>
  <h1 class="mat-h1">Editar sala de teatro</h1>
</ng-template>
<form [formGroup]="form"
      fxLayout="column"
      fxLayoutAlign="center center"
      fxLayoutGap="10px"
      (submit)="submit()">
  <mat-form-field appearance="fill" fxFlex>
    <mat-label>E-mail</mat-label>
    <input matInput formControlName="email">
    <mat-error>
      <span *ngIf="form.controls.email.hasError('email'); else required">Deve ser um e-mail</span>
      <ng-template #required>Campo obrigatório</ng-template>
    </mat-error>
  </mat-form-field>
  <mat-form-field appearance="fill" fxFlex *ngIf="!edit">
    <mat-label>Senha</mat-label>
    <input matInput type="password" formControlName="password">
    <mat-error>Campo obrigatório</mat-error>
  </mat-form-field>
  <mat-form-field appearance="fill" fxFlex>
    <mat-label>Nome</mat-label>
    <input matInput formControlName="nome">
    <mat-error>Campo obrigatório</mat-error>
  </mat-form-field>
  <mat-form-field appearance="fill" fxFlex>
    <mat-label>CNPJ</mat-label>
    <input matInput formControlName="cnpj" [specialCharacters]="[ '/' ,'.' , '-' ]" mask="00.000.000/0000-00">
    <mat-error>Campo obrigatório</mat-error>
  </mat-form-field>
  <mat-form-field appearance="fill" fxFlex>
    <mat-label>Cidade</mat-label>
    <input matInput formControlName="cidade">
    <mat-error>Campo obrigatório</mat-error>
  </mat-form-field>
  <mat-progress-bar mode="indeterminate" *ngIf="submitting"></mat-progress-bar>
  <button mat-flat-button color="primary" type="submit" fxFlex [disabled]="submitting">Enviar</button>
</form>
