<div class="container">
<mat-card class="mat-elevation-z8">
  <mat-card-header>
    <mat-card-title>Promoções</mat-card-title>
    <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Menu" class="menu">
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <a mat-menu-item routerLink="new">
        <mat-icon>add</mat-icon>
        <span>novo</span>
      </a>
    </mat-menu>
  </mat-card-header>
  <mat-card-content>
    <div class="overflow-auto">
      <div *ngIf="isLoading" style="display: flex; flex-direction: row">
        <div class="spacer"></div>
        <mat-spinner></mat-spinner>
        <div class="spacer"></div>
      </div>
      <p style="color: red; margin: auto;" *ngIf="hasError">Ocorreu um erro ao buscar salas de teatro.</p>
      <table mat-table [dataSource]="dataSource" matSort *ngIf="!isLoading && !hasError">
      	<ng-container matColumnDef="nome">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Nome </th>
          <td mat-cell *matCellDef="let element"> {{ element.nome }} </td>
        </ng-container>

        <ng-container matColumnDef="preco">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Preço </th>
          <td mat-cell *matCellDef="let element"> {{ element.preco }} </td>
        </ng-container>

        <ng-container matColumnDef="tetro_nome">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Nome do teatro </th>
          <td mat-cell *matCellDef="let element"> {{ element.taetro.nome }} </td>
        </ng-container>

        <ng-container matColumnDef="url_site">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Url do site </th>
          <td mat-cell *matCellDef="let element"> {{ element.site.url }} </td>
        </ng-container>

        <ng-container matColumnDef="dia_hora">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Dia e Hora </th>
          <td mat-cell *matCellDef="let element"> {{ element.dia_hora.getDate() + '/' + (element.dia_hora.getMonth() + 1) + '/' + element.dia_hora.getFullYear() + ' ' + element.dia_hora.getHours() + ':' + element.dia_hora.getMinutes() }} </td>
        </ng-container>

        <ng-container matColumnDef="acoes">
          <th mat-header-cell *matHeaderCellDef></th>
          <td mat-cell *matCellDef="let element" align="end">
            <a mat-icon-button color="primary" [routerLink]="element.id"><mat-icon>edit</mat-icon></a>
            <a mat-icon-button color="warn" (click)="delete(element.id)"><mat-icon>clear</mat-icon></a>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>
    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
  </mat-card-content>
</mat-card>
</div>
